<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center " id="card-hover">
        <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
        <!-- <h1><i class="fas fa-sign-in-alt"></i></h1> -->
        <h1><i class="fas fa-lock fa-3x"></i></h1>
        <p>Create an account or login </p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2" id="hover">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block" id="hover">Login</a>
    </div>
  </div>
</div>
<style>
  #hover:hover{
  color: #000;
  transform: scale(1.03);
  transition : all 0.2s ease-out;
}
#card-hover:hover{
  transform: scale(1.04);
  transition: all 0.2s ease-out;
}
</style>